@font-face {/* permet de définir la police et le déplacement texte par default*/
 font-family: '8bitOperatorPlus-Bold';
  src: url("font/PixelOperator8-Bold.ttf");
  	color:white;
      font-weight: normal;
       font-style: normal;
       text-align: left;
	}	

.hidden { /* je sais plus pourquoi j'avais mis ca, a supprimer prochainement*/
    display: none;
}
h2  {
  color: white;
  font-family: '8bitoperator';
	font-weight: normal;
  font-style: normal;
	src: url(‘fonts/8bitoperator.ttf’) format(‘truetype’)
  justify-content: flex-end;
  text-align: left;
}
h1  {
  color: white;
  font-family: '8bitoperator';
	font-weight: normal;
  font-style: normal;
	src: url(‘fonts/8bitoperator.ttf’) format(‘truetype’)
  justify-content: flex-end;
  text-align: center;
}

head { /*Faire de L'optimisation*/}
body	{
        background-color: #000;
        font-family: "8bitoperator_jve.ttf";
        display: block;
        margin: auto;
        /*Faire de l'optimisation*/
      }
bouton{
                                        display: block;
                                        background-color: blue;
                                        border-radius: 1px;
                                        border: 2px double white;
                                        color: #ffffff;
                                        text-align: center;
                                        font-size: 20px;
                                        padding: 10px;
                                        width: 200px;
                                        cursor: pointer;
                                        position: absolute;
                                        top: 1920px;
                                        left: 350px;
}
exemple{
                                        display: block; /*je m'en rappelle plus lol.*/
                                        background-color: blue; /* Permet de mettre en couleur notre bouton ou nous pouvons meme mettre en couleur caractère.)*/
                                        border-radius: 1px; /* Permet de rajouter une bordure (radis et le nombre de pixel a quoi sa sert ? jsp)*/
                                        border: 2px double white; /* Taille de la bordure qu'on a mis*/
                                        color: #ffffff; /* Couleur en caractère numérique ou nous pouvons mettre white tout simplement*/
                                        text-align: center; /* Permet de centrer le texte. Pour modifier, vous pouvez mettre left ou right */
                                        font-size: 20px; /* Taille de la police)*/
                                        padding: 10px;
                                        width: 200px;
                                        cursor: pointer; /* Permet de... (je cours vite pour pas répondre)*/
                                        position: absolute; /* Permet de déplacer librement le bouton grace au code en dessous*/
                                        top: 800px; /* Permet de modifier la hauteur en pixel*/
                                        left: 550px; /* Permet de modifier la droite et la gauche en pixel*/
}
a2  {
    font-size: 16;
    text-align: center;
    color: white;
    font-family: '8bitoperator'; /* truc assez compliquer a comprendre. Utilisez google pour les polices personnalisé*/
    font-weight: normal; /* truc assez compliquer a comprendre. Utilisez google pour les polices personnalisé*/
    font-style: normal; /* truc assez compliquer a comprendre. Utilisez google pour les polices personnalisé*/
    src: url(‘fonts/8bitoperator.ttf’) format(‘truetype’)
    justify-content: flex-end;
}
.elem1 { /* permet de définir une taille grace a rem ? (alors qu'il y a déja 16 normal ;-;)*/
    font-size: 1.4rem;;
} /* mais bon, rem c'est plus grands que 16 pixel normal (je crois 2x plus)*/

.elem2 {
    font-size: 2.2rem;;
}
sheeesh {/* juste un petit kiff pour le nom mais je l'utilise pour du texte*/
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    text-align: center;
}
h3  {
  color: white;
  font-family: '8bitoperator';
	font-weight: normal;
  font-style: normal;
	src: url(‘fonts/8bitoperator.ttf’) format(‘truetype’)
  justify-content: flex-end;
  text-align: left;
}
.rainbow-text {
  font-size: 48px;
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red, violet, indigo, blue);
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow-animation 2.7s linear infinite;
  background-size: 400% 100%;
}

@keyframes rainbow-animation {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.Co1{
                                        display: block;
                                        background-color: Black;
                                        color: #red;
                                        text-align: center;
                                        padding: 6px;
                                        width: 460px;
                                        border-top: 4px #ffffff solid;
                                        border-right: 4px #ffffff solid;
                                        border-bottom: 4px #ffffff solid;
                                        border-left: 4px #ffffff solid;
}
@keyframes blinker { /* permet de définir les frames dont ici on parle de luminosité */
from {opacity: 1.0;}
to {opacity: 0.0;}
}
.blink{
animation-name: blinker; /* Nom de l'animation qui est utilisé grâce à @keyframes*/
animation-duration: 0.5s;
animation-iteration-count:infinite;
animation-timing-function:ease-in-out;
animation-direction: alternate;
}